

<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WELCOME</title>
</head>
<h4>✨✨✨✨✨✨✨✨:( to tech..</h4>
<h3>NOTHNG IS ALWAYS BETTER THAN HAVING SOMETHING..👩‍💻</h3>
<body>

<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                        <h1 class="mb-4 pb-2 pb-md-0 mb-md-5">⫷ WELCOME ⫸
                        </h1>
                        <form th:action="@{/submit}" th:object="${user}" method="post">
                            <div class="mt-4 pt-2">
                               <a href="index.html">
                                    <input class="btn btn-primary btn-lg" type="submit" value="Submit" href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.dreamstime.com%2Fphotos-images%2Fthank-you.html&psig=AOvVaw3ZN8om-58ODoTAN5Dl5044&ust=1696230270120000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCOi5iaak1IEDFQAAAAAdAAAAABAE"/>
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>



